@import "keen-slider/keen-slider.min.css";
@import "./fonts/proximanova.css";
@import "./fonts/centurygothic.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --inter: "Inter", sans-serif;
}

body {
  background: #f3f6f8;
  color: var(--foreground);
  font-family: var(--inter), Helvetica, sans-serif;
}
